.grid {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(3, 1fr);
}

.square {
    padding: 10px;
    height: 80px;
    width: 80px;
    background-color: #ccc;
    font-size: 3.2em;
    font-weight: bold;
    text-align: center;
}

.active {
    cursor: pointer;
}

.active:hover {
    background-color: lightskyblue;
}